.left {
    position: fixed;
    left: 0px;
    width: 20%;
    height: 100%;
    margin-top: 0px;
    border-right: 3px solid #f44336;

}

.right {
    position: absolute;
    right: 0px;
    width: 80%;
    height: 100%;

}

.flipcard-div {
    position: relative;
    width: 180px;
    height: 350px;

}

.card-title {
    background-color: #f44336;
}

.card-title h2 {
    color: white;
    font-size: 16px;
    position: relative;
    margin-top: 0px;
    margin: 0px;
}

.card-title h3 {
    font-size: 14px;
    color: white;
    margin: 0px;
}

.card-text {
    background-color: #ffffff;
    height: 23%;
    margin-bottom: 0px;
}

.icon {
    height: 17%;
    background-color: #f44336;
}

.icon1 {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.icon2 {
    position: relative;
    float: right;
    margin-right: 20px;
    margin-bottom: 60px;
}

div.alef-card {
    width: 100%;
    height: 100%
}

div.alef-card-container {
    width: 100%;
    height: 60%;
    background-color: #ffffff;
}

div.md-card-title {
    height: 17%
}