.itemPageDetailsContainer.horizontalFlex {
    display: flex;
}

.itemPageDetailsContainer > div.recommendationsWrapper {
    width: 25%;
}

.itemPageDetailsContainer > div.itemDetailsWrapper {
    width: 70%;
    margin-left: 1%;
}