.itemPageTopContainer .sectionLeft {
    width: 35%;
    border-radius: 3px;
    height: 500px;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.2), 0 3px 12px 0 rgba(0,0,0,0.19);
    overflow: hidden;
    display: inherit;
}

.itemPageTopContainer .horizontalFlex {
    display: flex;
}

.itemPageTopContainer .sectionRight {
    margin-left: 3%;
    width: 62%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.itemPageTopContainer .sectionRight > .segment {
    border-bottom: 1px dashed #e7e7e7;
    padding-bottom: 20px;
    padding-top: 12px;
}

.itemPageTopContainer .sectionRight > .segment:last-child {
    border-bottom: none;
    padding-bottom: auto;
}

.itemPageTopContainer .sectionRight .artistInfo {
    display: flex;
}

.itemPageTopContainer .sectionRight .artistIcon {
    color: #3B3B3B;
}

.itemPageTopContainer .sectionRight .artistText {
    margin-left: 20px;
}

.itemPageTopContainer .sectionRight .artistName {
    font-size: 18px;
    font-weight: 600;
    top: 8%;
    position: relative;
}

.itemPageTopContainer .sectionRight .artistName:hover {
    cursor: pointer;
    color: #f54c1a;
}

.itemPageTopContainer .sectionRight .artistIcon:hover {
    cursor: pointer;
}

.itemPageTopContainer .sectionRight .artistTitle {
    font-size: 13px;
    color: #818181;
    top: 15%;
    position: relative;
}

.itemPageTopContainer .itemInfo {
    display: flex;
    flex-direction: column;
}

.itemPageTopContainer .itemTitle {
    font-weight: 600;
    font-size: 20px;
}

.itemPageTopContainer .itemDescription {
    font-size: 13px;
    margin-top: 1.5%;
}