.purchaseOptions {
    display: flex;
    flex-direction: column;
}

.purchaseOptions > .segment {
    border-bottom: 1px dashed #e7e7e7;
    padding-bottom: 20px;
    padding-top: 12px;
}

.purchaseOptions > .segment:first-child {
    padding-top: unset;
}

.purchaseOptions > .segment:last-child {
    border-bottom: none;
    padding-bottom: auto;
}

.purchaseOptions > .segment > .subSegment {
    margin-top: 20px;
    color: #757575;
}

.purchaseOptions > .segment > .subSegment:first-child {
    margin-top: 5px;
}

.purchaseOptions > .segment > .subSegment {
    display: flex;
}

.itemCost {
    color: #ff6e40;
    font-weight: 400;
    font-size: 30px;
}

.optionHeader {
    width: 20%;
    margin-top: 2%;
}

.optionBody.printingSizeOptions {
    width: 80%;
}

.printingSizeItem {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    font-size: 12px;
    color: black;
    text-align: center;
    overflow: hidden;
    min-width: 60px;
    height: 32px;
    padding-right: 8px;
    padding-left: 8px;
    margin-top: 8px;
    margin-right: 8px;
    background: #fff;
    border: 1px solid #dadada;
    border-radius: 2px;
}

.printingSizeItem:hover {
    border: 1px solid #ff6e40;
}

input.printingSizeItem {
    min-width: 100px;
    margin-top: 0px;
}

input.printingSizeItem:focus {
    outline: none;
}

.printingSizeItem.selected {
    border: 1px solid #ff6e40;
    color: #ff6e40;
}

input.printingSizeItem.selected {
    caret-color: black;
}

input.printingSizeItem.selected:focus::-webkit-input-placeholder {
    color: transparent;
}

input.printingSizeItem.selected:focus::-moz-placeholder {
    color: transparent;
}

input.printingSizeItem.selected:-moz-placeholder {
    color: transparent;
}

.purchaseOptions > .segment > div.buy.subSegment {
    margin-top: 34px;
}

.buy button {
    font-size: 14px;
    height: 32px;
    color: #fff;
    border-radius: 2px;
    margin-right: 19px;
    outline: none;
    min-width: 120px;
}

.buy button:hover {
    cursor: pointer;
}

.buy > button.addToCart {
    background: #ff6e40;
    border: 1px solid #ff6e40;
}

.buy > button.addToCart:hover {
    background: #f7643a;
    border: 1px solid #f7643a;
}

.buy > button.buyNow {
    background: #03a9f4;
    border: 1px solid #03a9f4;
}

.buy > button.buyNow:hover {
    background: #03a4eb;
    border: 1px solid #03a4eb;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantityPickerCenter > input {
    outline: none;
    height: 30px;
    width: 35px;
    text-align: center;
    border: none;
    font-size: 14px;
}

.quantityPickerLeft, .quantityPickerRight {
    padding-left: 7px;
    padding-top: 5px;
    height: 30px;
    width: 30px;
    background-color: #eff0f5;
    color: #818181;
    border: none;
    outline: none;
}

.quantityPickerLeft:disabled, .quantityPickerRight:disabled {
    cursor: not-allowed;
}

.quantityPickerLeft {
    border-radius: 2px 0 0 2px;
}

.quantityPickerRight {
    border-radius: 0 2px 2px 0;
}

.quantityPickerLeft:hover, .quantityPickerRight:hover {
    background-color: #dadada;
    color: #fff;
    cursor: pointer;
}

.quantityPickerLeft:disabled:hover, .quantityPickerRight:disabled:hover {
    background-color: #eff0f5;
    color: #818181;
    cursor: not-allowed;
}

.quantity > .optionBody {
    display: flex;
    margin-top: 8px;
}

.quantity > .optionBody > span > div {
    text-align: center;
}

Button.customizeTooltip {
    height: 30px;
    width: 30px;
    margin-bottom: 3px;
    margin-left: -12px;
}

Button.customizeTooltip:hover {
    background: transparent;
}

Button.customizeTooltip i {
    font-size: 14px !important;
}