.recommendationsContainer > div {
    margin-bottom: 15px;
}

.recommendationsContainer > div:last-child {
    margin-bottom: 0;
}

.recommendationsContainer > .artistSummary > .artistInfo {
    display: flex;
    background-color: #f5f5f5;
}

.recommendationsContainer > .artistSummary > .artistInfo > .artistIcon {
    color: #3B3B3B;
    cursor: pointer;
}

.recommendationsContainer > .artistSummary > .artistInfo > .artistText {
    margin-left: 20px;
}

.recommendationsContainer > .artistSummary > .artistInfo > .artistText > .artistName {
    font-size: 15px;
    font-weight: 600;
    position: relative;
}

.recommendationsContainer > .artistSummary > .artistInfo > .artistText > .artistName:hover {
    cursor: pointer;
    color: #ff6e40;
}

.recommendationsContainer > .artistSummary > .artistInfo > .artistText > .artistTitle {
    font-size: 12px;
    color: #4e4e4e;
    top: 4%;
    position: relative;
}

.recommendationsContainer > .artistSummary > .artistRating {
    display: flex;
}

.recommendationsContainer > .artistSummary > .artistRating > .ratingByStars {
    transform: scale(0.7, 0.7);
}

.recommendationsContainer > .artistSummary > .artistRating > .ratingByScore {
    margin-top: 4px;
    margin-left: -12px;
    font-size: 14px;
}

.recommendationsContainer > .artistSummary > .artistRating > .ratingByScore >.ratingScore {
    color: #ff6e40;
    font-weight: 500;
}

.recommendationsContainer > .artistSummary > .artistRating > .ratingByScore > .ratingMaxScore {
    color: #3b3b3b;
}

.recommendationsContainer > .artistSummary > .segment {
    border-bottom: 1px dashed #e7e7e7;
    padding: 12px 18px 14px 18px;
}

.recommendationsContainer > .artistSummary > .segment.aboutArtist {
    border-bottom: 1px solid #e7e7e7;
    font-size: 13px;
}

.recommendationsContainer > .artistSummary > .segment.artistRating {
    padding: 12px 0 14px 0;
}

.recommendationsContainer > .artistSummary > .segment:last-child {
    border-bottom: none;
    padding-bottom: auto;
}

.recommendationsContainer > .artistSummary {
    border: 1px solid #e7e7e7;
    border-radius: 3px;
}

.recommendationsContainer > .divider > .dividerText {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.recommendationsContainer > .divider > .dividerText > div {
    text-align: center;
    background-color: #fafafa;
    width: 52%;
    color: #4e4e4e;
}

.recommendationsContainer > .divider > .dividerDecoration {
    height: 10px;
    width: 268px;
    border-top: 1px #4e4e4e dotted;
    margin-top: -19px;
    margin-left: 5px;
    position: absolute;
    z-index: -1;
}

.recommendationsContainer .otherArtworks > .otherArtworksItem {
    cursor: pointer;
    margin-bottom: 20px;
    position: relative; /*VERY IMPORTANT TO .artworkPrice's and artworkTitle's width*/
}

.recommendationsContainer > .otherArtworks > .otherArtworksItem > .layer {
    background-color: transparent;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fade-out 0.1s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.recommendationsContainer > .otherArtworks > .otherArtworksItem > .layer.onRender {
    animation: none;
}

.recommendationsContainer > .otherArtworks > .otherArtworksItem > .layer.visible {
    background-color: rgba(255, 215, 205, 0.57);
    opacity: 1;
    animation: fade-in 0.15s ease;
}

.recommendationsContainer > .otherArtworks > .otherArtworksItem > .layer > .extLinkToItem {
    color: #ffffff;
    border: solid 3px #ffffff;
    border-radius: 50%;
    padding-left: 3px;
    padding-bottom: 3px;
}

.recommendationsContainer > .otherArtworks > .otherArtworksItem > .artworkImage {
    box-shadow: 0 0 1px 0 rgba(0,0,0,0), 0 0 1px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    display: inherit;
    z-index: -1;
    border-radius: 2px;
}

.recommendationsContainer > .otherArtworks > .otherArtworksItem > .artworkTitle,
.recommendationsContainer > .otherArtworks > .otherArtworksItem > .artworkPrice {
    position: absolute;
    background-color: rgba(255,255,255,0.75);
    width: 100%;
    text-align: center;
    font-family: Arial, "Roboto",sans-serif;
    z-index: 2;
    opacity: 0;
    cursor: auto;
    animation: fade-out 0.07s ease;
}

.recommendationsContainer > .otherArtworks > .otherArtworksItem > .artworkTitle.onRender,
.recommendationsContainer > .otherArtworks > .otherArtworksItem > .artworkPrice.onRender {
    animation: none;
}

.recommendationsContainer > .otherArtworks > .otherArtworksItem > .artworkTitle.visible,
.recommendationsContainer > .otherArtworks > .otherArtworksItem > .artworkPrice.visible {
    visibility: visible;
    animation: fade-in 0.15s ease;
    opacity: 1;
}

.recommendationsContainer > .otherArtworks > .otherArtworksItem > .artworkTitle {
    border-radius: 2px 2px 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 600;
    height: 35px;
    line-height: 35px;
}

.recommendationsContainer > .otherArtworks > .otherArtworksItem > .artworkPrice {
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    margin-top: -25px;
    border-radius: 0 0 2px 2px;
}

@keyframes fade-in {
    0% {opacity: 0.3;}
    20% {opacity: 0.75;}
    100% {opacity: 1;}
}

@keyframes fade-out {
    0% {opacity: 1;}
    20% {opacity: 0.5;}
    100% {opacity: 0; visibility: hidden;}
}