.size-buttons {
    margin-right: 5px;
}

.label {
    color: grey;
}

.selector {
    padding-left: 10px;
    margin-bottom: 0 !important;
}

.push-vertical {
    margin: 15px 0;
}

.category-selector {
    display: flex;
    flex-direction: row;
    height: 48px;
    align-items: center;
}

.category-label {
    line-height: 48px;
}

