.cart-card {
    width: 80%;
    min-width: 1200px;
    text-align: center;
    margin: 10px;
    overflow-y: hidden;
    margin: 0 auto;
}

.cart-content {
    display: flex;
    flex-direction: row;
    height: 200px;
}

.thumbnail {
    width: 200px;
    cursor: pointer;
}

.card-price {
    color: #f44336;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quantity-div {
    display: flex;
    flex-direction: row;

}

.quantity-input > input{
    width: 50px;
    text-align: center;
}


.info {
    flex: 1;
    text-align: left;
}

.cart-card-title { 
    font-size: 24px;
    color: grey;
    cursor: pointer;
}

.cart-card-description {
    cursor: pointer;
}

.card-section {
    padding: 20px;
    text-overflow: ellipsis;
}

.total-price-div {
    margin-top: 20px;
    padding: 0 20%;
    display: flex;
    flex-direction: row;
}

.total-price {
    margin-left: 20px;
    line-height: 34px;
    color: #f44336;
    font-size: 36px;
    flex: 1;
}

.total-price-label {
    font-size: 24px;
    line-height: 34px;
    color: grey;
    text-align: right;
}

.submit-div {
    padding: 0 10%;
    display: flex;
    flex-direction: row-reverse;
}